{% extends 'index.html' %} {% block title %}Detalle del Examen{% endblock %} {% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">{{ exam.title }}</h1>
    <p class="mb-4">Este es el examen para el curso: {{ exam.course.title }}</p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pregunta {{ question_number }} de {{ total_questions }}</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <p>{{ question.text }}</p>
                {% for answer in question.answers.all %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answer" id="answer{{ answer.id }}" value="{{ answer.id }}">
                    <label class="form-check-label" for="answer{{ answer.id }}">
                        {{ answer.text }}
                    </label>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary mt-3">Responder</button>
            </form>
        </div>
    </div>

    <a href="{% url 'course_detail' exam.course.id %}" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-left"></i>
        </span>
        <span class="text">Volver al Curso</span>
    </a>
</div>
{% endblock %}