{% extends 'index.html' %} {% block title %}Confirmar Eliminación{% endblock %} {% block content %}
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Eliminar Instructor</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">¿Estás seguro de que deseas eliminar este instructor?</h6>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Eliminar</span>
                </button>
                <a href="{% url 'instructor_list' %}" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Cancelar</span>
                </a>
            </form>
        </div>
    </div>
</div>
{% endblock %}