{% extends 'index.html' %} {% block title %}Detalles de la Pregunta{% endblock %} {% block content %}
<div class="container">
    <h1>{{ exam.title }}</h1>
    <h3>Pregunta {{ question_number }} de {{ total_questions }}</h3>
    <p>{{ question.text }}</p>

    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Responder</button>
    </form>

    <div class="mt-3">
        {% if question_number > 1 %}
        <a href="{% url 'question_detail' exam.id question_number|add:'-1' %}" class="btn btn-secondary">Anterior</a> {% endif %} 
		{% if question_number < total_questions %}
         <a href="{% url 'question_detail' exam.id question_number|add:'1' %}" class="btn btn-secondary">Siguiente</a>
            {% endif %}
    </div>
</div>
{% endblock %}